html{
    font-size: 62%;
}
body{
    margin: 0;
    background: url(cimen.webp) ;
    min-height: 200vh;
    background-size: 160rem;
}
.kapsayici{
    width: 1080px;
    margin: 200px auto 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.menu{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    list-style: none;
}
nav .menu a{
    color: white;
    font-size: 2rem;
    background-color: black;
    width: 45px;
    height: 45px;
    text-align: center;
    padding: 10px;
    border-radius: 50%;
    margin-bottom: 5px;
    text-decoration: none;

}
nav .menu a:hover{
    background-color: blueviolet;
    color: black;

}
nav .sosyal{
  display: flex;
  justify-content: space-between;
  list-style: none;
}
nav .sosyal a{
    color: white;
    font-size: 2rem;
    background-color: black;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 50%;
    margin-bottom: 5px;
    text-decoration: none;
    display: block;

}
nav .sosyal a:hover{
    background-color: blueviolet;
    color: black;

}

.bolum-1 {
    min-height: 300px;
    background-color: #D2D7D3;
    margin-bottom: 40px;
}
.bolum-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    background-color: purple;
    padding: 20px;
    margin-bottom: 40px;
    box-sizing: border-box;
}

.bolum-2 .kutu {
    width: calc((100% / 3) - 40px); /* 3 sütun ve aradaki boşluklara göre genişliği ayarlama */
    height: 210px;
    line-height: 210px;
    font-size: 20px;
    text-align: center;
    background-color: white;
    box-sizing: border-box;
}
.bolum-3{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    background-color: purple;
    padding: 20px;
    margin-bottom: 40px;
    box-sizing: border-box;


}

.bolum-3 .kutu{
    width: calc((100% / 3) - 40px); /* 3 sütun ve aradaki boşluklara göre genişliği ayarlama */
    height: 210px;
    line-height: 210px;
    font-size: 20px;
    text-align: center;
    background-color: white;
    box-sizing: border-box;
}

